.container{
    /* background-color: deeppink; */
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: aqua;
    width: 200px;
}
.content{
    background-color: cadetblue;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-items{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color: bisque;
    
}
.menu-item:hover{
    background-color:  bisque;
}
.menu-icon{
    height: 15px;
}
.menu-text{
    margin-left: 5px;

}